ol {
  counter-reset: foo 0;
  list-style-type: none;
}
ol li {
  counter-increment: foo 1;
}
ol li.no-increment {
  counter-increment: foo 0;
}
ol li:before {
  content: counter(foo) ".";
  float: left;
  width: 2em;
  margin-left: -2.5em;
  text-align: right;
}